<div class="about-section pt-4 px-3 px-lg-4 mt-1">
  <div class="row">
    <div class="col-md-6">
      <h2 class="h3 mb-3">Über mich</h2>
      {% for about in site.data.lebenslauf.about %}
      <p>{{about}}</p>
      {% endfor %}
    </div>
    <div class="col-md-5 offset-md-1">
      <div class="row mt-2">
        <div class="col-sm-4">
          <div class="pb-1">Email</div>
        </div>
        <div class="col-sm-8">
          <div class="pb-1 text-secondary">{{ site.data.lebenslauf.kontakt.mail }}</div>
        </div>
        <div class="col-sm-4">
          <div class="pb-1">Telefon</div>
        </div>
        <div class="col-sm-8">
          <div class="pb-1 text-secondary">{{ site.data.lebenslauf.kontakt.mobile }}</div>
        </div>
        <div class="col-sm-4">
          <div class="pb-1">Ort</div>
        </div>
        <div class="col-sm-8">
          <div class="pb-1 text-secondary">
            {{ site.data.lebenslauf.kontakt.strasse }} {{ site.data.lebenslauf.kontakt.hausnummer }},<br>
            {{ site.data.lebenslauf.kontakt.plz }} {{ site.data.lebenslauf.kontakt.stadt }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
