<div class="contant-section px-3 px-lg-4 pb-4" id="contact">
  <h2 class="h3 text mb-3">Contact</h2>
  <div class="row">
    <div class="col-md-7 d-print-none">
      <div class="my-2"><form action="https://formspree.io/your@email.com"
                              method="POST">
        <div class="row">
          <div class="col-6">
            <input class="form-control" type="text" id="name" name="name" placeholder="Your Name" required>
          </div>
          <div class="col-6">
            <input class="form-control" type="email" id="email" name="_replyto" placeholder="Your E-mail" required>
          </div>
        </div>
        <div class="form-group my-2">
          <textarea class="form-control" style="resize: none;" id="message" name="message" rows="4"  placeholder="Your Message" required></textarea>
        </div>
        <button class="btn btn-primary mt-2" type="submit">Send</button>
      </form>
      </div>
    </div>
    <div class="col">
      <div class="mt-2">
        <h3 class="h6">Address</h3>
        <div class="pb-2 text-secondary">140, City Center, New York, U.S.A</div>
        <h3 class="h6">Phone</h3>
        <div class="pb-2 text-secondary">+0718-111-0011</div>
        <h3 class="h6">Email</h3>
        <div class="pb-2 text-secondary">Joyce@company.com</div>
      </div>
    </div>
    <div class="col d-none d-print-block">
      <div class="mt-2">
        <div>
          <div class="mb-2">
            <div class="text-dark"><i class="fab fa-twitter mr-1"></i><span>https://twitter.com/templateflip</span>
            </div>
          </div>
          <div class="mb-2">
            <div class="text-dark"><i class="fab fa-facebook mr-1"></i><span>https://www.facebook.com/templateflip</span>
            </div>
          </div>
          <div class="mb-2">
            <div class="text-dark"><i class="fab fa-instagram mr-1"></i><span>https://www.instagram.com/templateflip</span>
            </div>
          </div>
          <div class="mb-2">
            <div class="text-dark"><i class="fab fa-github mr-1"></i><span>https://github.com/templateflip</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
