
<div class="education-section px-3 px-lg-4 pb-4">
  <h2 class="h3 mb-4">Schulbildung</h2>
  <div class="timeline">

    {% for ausbildung in site.data.lebenslauf.schule %}
      <div class="timeline-card timeline-card-primary card shadow-sm">
        <div class="card-body">
          <div class="h5 mb-1">{{ausbildung.name}}<br><span class="text-muted h6">{{ausbildung.ort}}</span></div>
          <div class="text-muted text-small mb-2">{{ausbildung.zeit.von}} - {{ausbildung.zeit.bis}}</div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>
