<div class="skills-section px-3 px-lg-4">
  <h2 class="h3 mb-3">Professional Skills</h2>
  <div class="row">
    {% assign l = site.data.lebenslauf.skills | size %}
    {% assign a = l | | divided_by: 2 %}
    {% assign ac = a | minus: 1 %}
    {% assign bc = l | minus: 1 %}

    <div class="col-md-6">
      {% for i in (0..ac) %}
      {% assign skill = site.data.lebenslauf.skills[i] %}
      <div class="mb-2"><span>{{skill.name}}</span>
        <div class="progress my-1">
          <div class="progress-bar bg-success" role="progressbar" data-aos="zoom-in-right"
               data-aos-delay="100" data-aos-anchor=".skills-section"
               style="width: {{skill.value}}%"
               aria-valuenow="{{skill.value}}" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
      </div>
      {% endfor %}
    </div>
    <div class="col-md-6">
      {% for i in (a..bc) %}
      {% assign skill = site.data.lebenslauf.skills[i] %}
      <div class="mb-2"><span>{{skill.name}}</span>
        <div class="progress my-1">
          <div class="progress-bar bg-primary" role="progressbar" data-aos="zoom-in-right"
               data-aos-delay="100" data-aos-anchor=".skills-section"
               style="width: {{skill.value}}%"
               aria-valuenow="{{skill.value}}" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
